:root{
  --main-color:hsl(19deg 100% 96%);
  --dark-color:rgba(19,16,15,255);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  background-color: var(--main-color) !important;
  user-select: none;
  overflow-x: hidden;
  
}
.dark{
  position: fixed;
  bottom: 2%;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  cursor: pointer;
  z-index: 5000000;
  
}
.container{
  padding-left:5% !important;
}
/* start landing */

/* start navbar */
.navbar{
  background-color: var(--main-color) !important;
  z-index: 100000;
  
}
.scrolling{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-nav .nav-item .nav-link,.navbar-brand{
  color: black;
  transition: .3s;
}
.navbar-nav .nav-item .nav-link:hover,.navbar-nav .nav-item .nav-link.active,.navbar-brand:hover{
  color: orange !important;
}
.navbar-nav{
  margin-left: auto !important;
}
@media (max-width:991px) {
  .navbar-nav{
    margin-left: 45% !important;
  }
  
}
.nav-link{
  margin-right: 15px;
}
.logo a{
  font-weight: 600 !important;
  margin-left: 5px;
}
.logo img{
  width: 50px;

}

.navbar .navbar-toggler {
  border-color: transparent !important;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: transparent;
}
/* finish navbar */
.land-row{
  margin-top: 10% !important;
}
.left-top{
  position: absolute;
  left: 0;
  top: 20%;
  width: 120px;
  transform: rotate(460deg);
  opacity: .2;
  z-index: -5;
}
.right-bottom{
  position: absolute;
  right: 0;
  bottom:  20%;
  width: 120px;
  opacity: .2;
  z-index: -5;
}
.left-home{
  margin: 10% 0 0 0;
  line-height: 1.6;
}
.left-home h3{
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 20px;
  
}
.main-bt{
  width: fit-content;
  padding: 2px 20px;
  border-radius: 15px;
  background-color: orange ;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
}
.main-bt svg{
  margin-left: 15px;
  transition: .3s;
}
.main-bt:hover  svg{
  transform: translateX(5px);
}
.left-home p{
  font-size: 1.2em !important;
}
.left-home img{
  width: 50px;
}
/* finish landing */

/* start about */
.about{
  margin-top: 100px;
  position: relative;
}
.about-image img{
  width: 400px;
}
.about-us img{
  width: 50px;
}
.about-us h3{
  color: rgb(254, 155, 112);
  font-family:cursive;
}
.about-us h4{
  font-size: 3em;
}
.mid-bottom{
  position: absolute;
  right: -2%;
  bottom:  10%;
  width: 160px;
  opacity: .2;
  z-index: -5;
}
@media (max-width:991px) {
  .about-image img{
    display: block;
    margin: auto !important;
  }
  .about-us{
    text-align: center;
  }
  
}

/* finish about */

/* start popular */
.main-head{
  margin-bottom: 30px;
}
.main-head h3{
  color: rgb(254, 155, 112);
  font-family:cursive;
}
.main-head h4{
  font-size: 3em;
}
.popular-card{
  background-color: var(--main-color) !important;
  padding: 10px;
  height: 380px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.popular-card a{
  text-decoration: none;
  color: orange;
  font-size: 1.8em;
  transition: .3s;
}
.popular-card a:hover{
  color: rgb(210, 140, 11);
}
.shopping{
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 6px;
  background-color: orange;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}
.popular-card img{
  transition: .3s;
}
.shopping:hover{
  background-color: rgb(210, 140, 11);
}
.popular-card:hover  img{
  transform: translateY(-10px);
}
/* finish popular */


/* start recentely */
.left-rec{
  margin-top: 15%;
}
.left-rec  h3{
  color: rgb(254, 155, 112);
  font-family:cursive;
}
.left-rec h4{
  font-size: 3em;
}


.sub-image img{
  margin: auto;
  width: 300px;
}
.subscribe .container{
  background-color: rgb(41, 37, 37);
  border-radius: 70px;
  padding: 20px 15px 30px;
  margin: auto;
}
.sub  h3{
  color: rgb(254, 155, 112);
  font-family:cursive;
}
.sub h4{
  font-size: 3em;
  color: white;
}

.messeage{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 50px;
  overflow: hidden;
}
.messeage .main-bt{
  display: inline-block;
  padding: 2px 10px;
}
.messeage .main-bt svg{
  margin-left: 0px;
}
.messeage input{
  border-color: transparent;
  outline-color: transparent;
}
/* finish recentely */



/* start Footer */
footer{
  background-color: var(--main-color) !important;
}
footer h6 img{
  width: 50px ;
  display: inline-block;
  margin-right: 10px;
}
.link-secondary{
  color: transparent !important;
  
}
.text-reset{
  text-decoration: none !important;
}


/* finish Footer */